<div class="prob" style="text-align: center;border-top: 1px solid; margin-left: 5px;margin-right: 5px;">

    {#<div class="table-responsive" style="overflow: auto;" tabindex="0">#}
        {#<table class="record_properties table table-hover table table-striped table-vmiddle bootgrid-table">#}
            {#<tr>#}
                {% for d in distrib %}

                    <div class="" style="border-bottom: 1px solid;">
                          <div class="row">
                           <div class="col-md-2">
                        <p class="redventastextbold" style="">  {{ d.nombre }} </p>{{ d.bandera|raw }}
                         </div>
                          <div class="col-md-10">
                        <div>{{ d.datos|raw }}</div>
                         </div>
                        <br> <br><br>
                        </div>
                        </div>


                {% endfor %}
            {#</tr>#}
            {#<tr style="background: none">#}
                {#{% for d in distrib %}#}
                    {#<td style="background-color:transparent;border: 0px !important;">{{ d.datos|raw }}</td>#}
                {#{% endfor %}#}
            {#</tr>#}
        {#</table>#}
    {#</div>#}

</div>