cache/
log/
.idea/
*.log
app/log
/log
.idea/workspace.xml
web/pdfs/
web/pdfresources/tapas/tapa3.png
web/pdfresources/tapas/tapa3_small.png
web/pdfresources/tapas/tapa4.png
web/pdfresources/tapas/tapa4_small.png
vendor/
app/sessions/
