    {% extends 'gemaBundle::layout.html.twig' %}
    {% form_theme edit_form 'gemaBundle:Form:theme.html.twig' %}

    {% block gema_page -%}
    <h1>Editar Comerciables </h1>

     
    <div class="form-group" style="float:right">
        <label class="control-label "><strong>Imagen Principal</strong></label><br>
        <input type="button" class="btn btn-file" value="Editar Archivos" id="editarArchivosp"><br><br><br>
        <label class="control-label "><strong>Galeria</strong></label><br>
        <input type="button" class="btn btn-file" value="Editar Archivos" id="editarArchivos">
    </div>



    {{ form(edit_form) }}

    <ul class="pager">
        <li class="next"><a href="{{path('admin_comerciables')}}"><i class="fa fa-ban"></i>
                Cancelar
            </a></li>
        <li class="next"><a href="{{path('admin_comerciables')}}"><i class="fa fa-list"></i>
                Listado de Comerciables
            </a></li>

    </ul>
    {% endblock %}
   
   {% block custom_javascripts %}
    <script>
    
    $(document).ready(function () {
      //  $('#gema_gemabundle_comerciables_descripcion').attr('rows',15);
        var guid='{{ guid }}';     
        $('#gema_gemabundle_comerciables_guid').attr('value',guid);
        StartDropZone('myUploadDropZoneComerciables','comerciables',guid);
    
        $('#editarArchivos').click(function(){
            GetData('comerciables',guid);
        });
      
        $('#editarArchivosp').click(function(){
        
            GetData('comerciables',guid+'P');
        });


        if($('select[id$="gema_gemabundle_comerciables_tipo"]>option:selected').text().toLowerCase() === "producto")
       {
      
        $('#gema_gemabundle_comerciables_fechainicio').hide();
        $('#gema_gemabundle_comerciables_fechafin').hide();    
        $('label[for=gema_gemabundle_comerciables_fechainicio]').hide();
        $('label[for=gema_gemabundle_comerciables_fechafin]').hide();
        $('label[for=gema_gemabundle_comerciables_fechainicio]').closest('.form-group').hide();
        $('label[for=gema_gemabundle_comerciables_fechafin]').closest('.form-group').hide();
        
       }      
       if($('select[id$="gema_gemabundle_comerciables_tipo"]>option:selected').text().toLowerCase() === "merchandising" || $('select[id$="gema_gemabundle_comerciables_tipo"]>option:selected').val().toLowerCase() ==='reciennacidos' )
       {
       
        $('#gema_gemabundle_comerciables_categoria_chosen').hide();
        $('label[for=gema_gemabundle_comerciables_categoria]').closest('.form-group').hide();
        $('#gema_gemabundle_comerciables_fechainicio').hide();
        $('#gema_gemabundle_comerciables_fechafin').hide();
    
        $('label[for=gema_gemabundle_comerciables_fechainicio]').hide();
        $('label[for=gema_gemabundle_comerciables_fechafin]').hide();
        $('label[for=gema_gemabundle_comerciables_fechainicio]').closest('.form-group').hide();
        $('label[for=gema_gemabundle_comerciables_fechafin]').closest('.form-group').hide();
       }

       if($('select[id$="gema_gemabundle_comerciables_tipo"]>option:selected').text().toLowerCase() === "promocion"){
    
        $('label[for=gema_gemabundle_comerciables_categoria]').closest('.form-group').hide();
        $('#gema_gemabundle_comerciables_categoria_chosen').hide();
       }
    
    
     $('#gema_gemabundle_comerciables_tipo').change(function(){
    
      var selected = $('select[id$="gema_gemabundle_comerciables_tipo"]>option:selected').text().toLowerCase();
      if (selected !== "promocion") 
      {
        $('#gema_gemabundle_comerciables_fechainicio').hide();
        $('#gema_gemabundle_comerciables_fechafin').hide();
    
        $('label[for=gema_gemabundle_comerciables_fechainicio]').hide();
        $('label[for=gema_gemabundle_comerciables_fechafin]').hide();
        $('label[for=gema_gemabundle_comerciables_fechainicio]').closest('.form-group').hide();
        $('label[for=gema_gemabundle_comerciables_fechafin]').closest('.form-group').hide();
        
    
       }   
       else
       {
        $('#gema_gemabundle_comerciables_fechainicio').show();
        $('#gema_gemabundle_comerciables_fechafin').show();
        $('label[for=gema_gemabundle_comerciables_fechainicio]').show();
        $('label[for=gema_gemabundle_comerciables_fechafin]').show();
        $('label[for=gema_gemabundle_comerciables_fechainicio]').closest('.form-group').show();
        $('label[for=gema_gemabundle_comerciables_fechafin]').closest('.form-group').show();
       }
    
    
       if(selected === "producto")
       {
        $('#gema_gemabundle_comerciables_categoria_chosen').show();
        $('label[for=gema_gemabundle_comerciables_categoria]').closest('.form-group').show();
        
       }
       else{
    
        $('label[for=gema_gemabundle_comerciables_categoria]').closest('.form-group').hide();
        $('#gema_gemabundle_comerciables_categoria_chosen').hide();
       }
    
     });
    
    }) ;

    function chechHides(){

    }
      </script>
    {% endblock %}