    {% extends 'gemaBundle::layout.html.twig' %}
    {% form_theme edit_form 'gemaBundle:Form:theme.html.twig' %}

    {% block gema_page -%}
    <h1>Editar Catalogo </h1>

    {{ form(edit_form) }}

    <ul class="pager">
        <li class="next"><a href="{{path('catalogo')}}"><i class="fa fa-ban"></i>
                Cancelar
            </a></li>
        <li class="next"><a href="{{path('catalogo')}}"><i class="fa fa-list"></i>
                Listado de Catalogo
            </a></li>

    </ul>
    {% endblock %}
