{% extends 'gemaBundle::layout.html.twig' %}
{% form_theme form 'gemaBundle:Form:theme.html.twig' %}


{% block gema_page -%}
    <h1>Crear OfertaLaboral</h1>

    {{ form(form) }}

    <ul class="pager">
        <li class="next"><a href="{{path('ofertalaboral')}}"><i class="fa fa-list"></i>
                Listar OfertaLaboral
            </a></li>
    </ul>
{% endblock %}
