{% extends 'gemaBundle::layout.html.twig' %}
{% form_theme form 'gemaBundle:Form:theme.html.twig' %}


{% block gema_page -%}
    <h1>Crear Noticia</h1>
    <div class="form-group"> <input type="button" class="btn btn-file" value="Imagen(es) para la Portada" id="editarArchivos">
    <input type="button" class="btn btn-file" value="Imagen(es) para la Galería" id="editarArchivosg"></div>

    {{ form(form) }}

    <ul class="pager">
        <li class="next"><a href="{{path('admin_noticias')}}"><i class="fa fa-list"></i>
                Listar Noticia
            </a></li>
    </ul>
{% endblock %}

{% block custom_javascripts %}
<script>
    $(document).ready(function () {
        var guid = '{{ guid }}';
        $('#gema_gemabundle_noticia_guid').attr('value', guid);
        $('#editarArchivos').click(function(){
            GetData('noticia',guid);
        });
        $('#editarArchivosg').click(function(){
            GetData('noticia',guid+"G");
        });
    });
    </script>
{% endblock %}