.hiderow{
	display:none;
}

.showrow{
	display:table;
}

.verticalalign{
	vertical-align: middle !important;
}

.cabecerawith{
/*	width:10% !important;*/
}

.header:hover{
	 cursor: pointer;
	 
}
a{
	font-family:'Fago-bold';
}

td{
	font-family:'Fago-normal';
}
b{
	font-family:'Fago-normal' !important;
	vertical-align: middle !important;
}
label{
	font-family:'Fago-normal';
}


.myevenmyodd td{
	background:#F9F9F9 !important;
}
.myeven td{
	background:#e5edf0 !important;
}
p {
    margin: 0 0 10px !important;
}


button{
	font-family: 'Fago-Bold';
}
 input{
	vertical-align: middle;
}

.toroimg{
	border-radius: 5px 5px 5px 5px !important;
}

.toroapodo{
	text-align:left;

}
table td {padding: 0px !important; margin: 0px !important;border-spacing: 0px !important;}
table {border-spacing: 0px !important;}

@media (max-width:767px){
	.checkbox {
    margin-top:0px !important;
}
}

.newselector{
	background-color: #9D4F30;
color: white;
font-family: 'Fago-normal';
border-radius: 5px;
font-size: 11pt;
width: 124%;
border: none !important;
height: 27px;
padding: 4px;
}
.newselector option{
	color:black;
}

.sel2{
	width: 98% !important;
}



span.tip { 
    text-decoration: none
}
span.tip:hover {
    cursor: help;
    position: relative
}
span.tip span {
    display: none;
}
span.tip:hover span {
    border: #c0c0c0 1px dotted;
    padding: 5px 5px 5px 5px;
    display: block;
    z-index: 100;
    background:#B24E2A;
    left: 0px;
    margin: 10px;
  
    position: absolute;
    top: 10px;
    text-decoration: none;
	text-align:center !important;
	color:white;
}

/*In td*/
td.tip { 
    text-decoration: none
}
td.tip:hover {
    cursor: help;
    position: relative
}
td.tip span {
    display: none;
}
td.tip:hover span {
    border: #c0c0c0 1px dotted;
    padding: 5px 5px 5px 5px;
    display: block;
    z-index: 100;
    background:#B24E2A;
    left: 0px;
    margin: 10px;
    width:300px;
    position: absolute;
    top: 40px;
    text-decoration: none;
	text-align:center !important;
	color:white;
}

/*.dataTables_filter {
display: none;
} */
.extraza{
	font-family:'Fago-normal';
	color:#B24E2A;
}
.dataTables_filter{
	display:none;
}

.wrapper1
{
	width: 300px; border: none 0px RED;
   overflow-x: scroll; overflow-y:hidden;
}
.wrapper1{
	height: 20px; 
	}
.div1 {
	width:1000px; height: 20px; 
	}

