@media (max-width: 1024px) {
    #firstheader {
        font-size: 10px !important;
    }
}

@media (min-width: 768px)
{
#uldin>li {
    float: none !important;
  }
}

#datotext{
	
	font-size:13px !important;
}