{% extends 'gemaBundle::layout.html.twig' %}
{% form_theme form 'gemaBundle:Form:theme.html.twig' %}


{% block gema_page -%}
    <h1>Crear Remate</h1>


    {{ form(form) }}

    <ul class="pager">
      <li><input type="button" class="btn btn-file" value="Logo" style="margin-top: -250px;" id="editarArchivos"></li>
        <li class="next"><a href="{{path('remate')}}"><i class="fa fa-list"></i>
                Listar Remate
            </a></li>
    </ul>
{% endblock %}


{% block custom_javascripts %}


<script>

    $(document).ready(function () {
        var guid = '{{ guid }}';
        $('#gema_gemabundle_remate_guid').attr('value', guid);
        $('#gema_gemabundle_remate_guid').hide();


        $('#editarArchivos').click(function () {
            GetData('remates', guid);
        });

    });

</script>
    {% endblock %}
