{% extends 'gemaBundle::clientlayout.html.twig' %}


  {% block customstylesheets %}
      <link href="{{ asset('bundles/gema/clientresources/css/special.css')}}" rel="stylesheet">
	  {% endblock %}

  {% block content %}
       <h1 style="text-align: center;font-family: Fago-Bold;color:#034997">{{ html.nombre }}</h1>
	 <div style="margin-bottom: 50px"> {{ html.html|raw }}<div>



{% endblock %}

    {% block custom_javascripts %}


	{% endblock %}