


{% extends 'gemaBundle::pdflayout.html.twig' %}


  {% block customstylesheets %}
	  <link href="{{absolute_url(asset('bundles/gema/clientresources/fancybox/dist/jquery.fancybox.css'))}}" rel="stylesheet">
	  <link href="{{absolute_url(asset('bundles/gema/clientresources/jquerybxslider/jquery.bxslider.css'))}}" rel="stylesheet">
	  <link href="{{absolute_url(asset('bundles/gema/clientresources/watermark/styleimg.css'))}}" rel="stylesheet">

	  <style>
		  th{
			  background-color: #98999D !important;
			  text-align: center !important;
			  color: #FFFFFF !important;
		  }

		  .container.wrapped-container {
			  margin-top: 0px !important;

		  }
		  .container {
			  padding: 0 !important;
		  }

          .page {
              overflow: hidden;
              page-break-after: always;
          }

	  </style>
  {% endblock %}




  {% block content %}


	  <img src="{{ absolute_url(asset(capaimg)) }}" style="width: 100% !important;">

      <div class="page">

      </div>
  {% endblock %}
