    {% extends 'gemaBundle::layout.html.twig' %}
    {% form_theme edit_form 'gemaBundle:Form:theme.html.twig' %}

    {% block gema_page -%}
    <h1>Editar Vendedor </h1>
        <input type="button" class="btn btn-file" value="Editar Foto" id="editarArchivosp">
        <br>
    {{ form(edit_form) }}

    <ul class="pager">
        <li class="next"><a href="{{path('admin_vendedor')}}"><i class="fa fa-ban"></i>
                Cancelar
            </a></li>
        <li class="next"><a href="{{path('admin_vendedor')}}"><i class="fa fa-list"></i>
                Listado de Vendedor
            </a></li>

    </ul>
    {% endblock %}


    {% block custom_javascripts %}
        <script>
            $(document).ready(function(){
                var guid= $('#gema_gemabundle_vendedor_guid').val();
                $('#editarArchivosp').click(function(){
                    GetData('vendedor',guid);
                });
            });
        </script>
    {% endblock %}
