{% extends 'gemaBundle::layout.html.twig' %}
{% form_theme form 'gemaBundle:Form:theme.html.twig' %}


{% block gema_page -%}
    <h1>Crear Vendedor</h1>
    <label class="col-md-2 control-label"><strong> Foto</strong></label>
    <div id="myUploadDropZoneToro" class="dropzone"> </div>
    {{ form(form) }}

    <ul class="pager">
        <li class="next"><a href="{{path('admin_vendedor')}}"><i class="fa fa-list"></i>
                Listar Vendedor
            </a></li>
    </ul>
{% endblock %}

{% block custom_javascripts %}
    <script>
        $(document).ready(function(){
            var guid='{{ guid }}';
            $('#gema_gemabundle_vendedor_guid').attr('value',guid);
            StartDropZone('myUploadDropZoneToro','vendedor',guid,1);
        });
    </script>
{% endblock %}
